:root {
    height: 100vh;

    --light-blue: #aae0fd;
    --dark-blue: #002D6A;
    --yellow: #FFDD00;
    --orange: #ffc107;
    --dark-gray: #787878;
    --light-gray: #9b9b9b;
    --black: #212529;
    --dirty-white: #f8f9fa;
    
    --icon-size: 36px;
}

.show {
    display: block !important;
}

.hide {
    display: none !important;
}

.rotate180 {
    transform: rotate(180deg);
}

body {
    position: relative;
    min-height: 100%;
    height: min-content;
    place-content: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: 50% 50%;
    backdrop-filter: blur(4px);
    padding-bottom: 50px;
}

body > * {
    position: relative;
    z-index: 2;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    height: 100vh;
    width: 100vw;
    z-index: 1;
}

.main-container {
    height: 90vh;
    /* border-radius: 8px; */
}

.sm-logo-container {
    height: 50px;
    aspect-ratio: 1;
    place-content: center;
}

.progress-container {
    position: sticky !important;
    top: 0;
    z-index: 1000;
    background-color: #F9FBFA;
    background-repeat: repeat-x;
    background-size: cover;
}

.step-title-container {
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #fff;
    margin: 0 -10px;
}

.progress {
    position: absolute;
    top: calc(var(--icon-size) - ((var(--icon-size) / 2) + 4px));
    left: 50%;
    height: 8px;
    width: 85%;
    transform: translateX(-50%);
    transform-origin: left top;
    border: 1px solid var(--bs-dark-border-subtle);
    background-color: #fff;
}

.progress-bar {
    background-color: rgb(255, 210, 149);
}

.form-title-container {
    position: relative;
    z-index: 3;
    margin-bottom: 1.75rem !important;
}

.breadcrumb {
    z-index: 3;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 90%;
    justify-content: space-between;
    margin: auto;
}

.breadcrumb-item {
    display: grid;
    place-items: center;
    gap: 6px;
    text-wrap: nowrap;
    transition: all 0.4s ease;
}

.breadcrumb-item.active > h6 {
    color: var(--yellow) !important;
}

.breadcrumb-item.active > .breadcrumb-icon {
    background-color: var(--yellow) !important;
}

.breadcrumb-item:not(.active) > .breadcrumb-icon {
    background-color: #F9FBFA;
}

.breadcrumb-item:not(.active) > h6 {
    color: #fff !important;
}

.breadcrumb-icon {
    display: inline-grid;
    border: 1px solid;
    border-radius: 50%;
    height: var(--icon-size);
    aspect-ratio: 1;
    place-items: center;
}

.xl-svg-container {
    z-index: 2;
    top: 0;
    right: 0;
    width: 100%;
    opacity: 0.3;
}

#formContainer {
    height: 75%; 
    overflow-y: auto; 
    scrollbar-width: thin; 
    background-color: #fff;
}

#resellerForm {
    min-height: 100%;
    width: 100%;
}

#resellerForm input, #resellerForm select {
    border: 1px solid var(--light-blue);
    background-color: #f8f9fa;
    font-weight: 300;
}

#valid_id_container {
    position: relative;
    z-index: 1;
}

#id_dropdown_btn {
    display: grid;
    place-content: center;
    height: 15px;
}

#id_dropdown_btn > i {
    transition: transform 0.1s linear;
}

#id_dropdown_btn:hover {
    background-color: #d9dee4 !important;
}

.with-number .iti {
    width: 100%;
}

#vehicleFields {
    display: grid;
}

#addVehicle {
    background-color: #0071aa;
}

.vehicle-title {
    color: var(--dirty-white);
    width: 100%;
}

.vehicle-title > h6 {
    width: fit-content;
    margin: auto;
}

.psd-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.with-select2 .select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0;
}

.cbox-yes {
    border-color: var(--bs-success-border-subtle);
    background-color: var(--bs-success-bg-subtle);
    transition: all 0.3s ease;
}

.cbox-yes input:checked ~ .checkmark {
    background-color: var(--bs-success);
}

/* .cbox-yes .checkmark::after {
    background-color: var(--bs-success);
} */

.cbox-no {
    border-color: var(--bs-danger-border-subtle);
    background-color: var(--bs-danger-bg-subtle);
    transition: all 0.3s ease;
}

.cbox-no input:checked ~ .checkmark {
    background-color: var(--bs-danger);
}

/* .cbox-no .checkmark::after {
    background-color: var(--bs-danger);
} */

.or-container, .cr-container {
    display: none;
    height: 225px;
    width: 100%;
    background-color: #f8f9fa;
    padding-top: 10px;
    justify-content: center;
    transform: translateY(-15px);
}

.centered-text > * {
    place-content: center;
}

.btn-prev, .btn-next {
    font-weight: 500;
    padding: 0.45rem 1rem;
}

.btn-prev {
    border: 1px solid var(--dark-blue);
}

.btn-next {
    background-color: var(--yellow);
    color: var(--dark-blue);
}

.btn-prev:hover {
    border: 1px solid var(--dark-blue);
    background-color: #e9ebec;
}

.btn-next:hover {
    background-color: var(--orange);
}

.light-gray {
    color: var(--light-gray);
}

.dark-blue-bg {
    background-color: var(--dark-blue) !important;
}

.light-border-subtle {
    border: 1px solid var(--bs-light-border-subtle);
}

.min-width-150 {
    min-width: 150px;
}

.min-width-190 {
    min-width: 190px;
}

.min-width-250 {
    min-width: 250px;
}

.min-width-300 {
    min-width: 300px;
}

@media (max-width: 575px) {
    .c-sticker-container {
        width: 100% !important;
        padding: 0 !important;
        margin-bottom: 1rem;
    }

    .is-diplomat-container {
        width: 100% !important;
        padding: 0 !important;
    }
}

@media (max-width: 767px) {
    #formContainer {
        height: 80%;
    }

    .form-step > .row {
        margin-bottom: 2rem !important;
    }

    .progress {
        width: 95% !important;
    }

    .with-select2 .select2.select2-container.select2-container--default {
        width: 100% !important;
    }

    .c-sticker-container {
        width: 50%;
        order: 1;
    }

    .platenum-container {
        width: 100%;
        order: 3;
        margin-top: 1rem;
    }

    .is-diplomat-container {
        width: 50%;
        order: 2;
    }
}

@media (max-width: 1040px) {
    .progress {
        width: 82%;
    }
}

@media (max-width: 1199px) {
    .progress-container {
        padding-bottom: 1.5rem !important;
    }

    .main-container {
        height: calc(100vh - 50px);
    }
}

@media (min-width: 1200px) {
    .col-xl-2pt4 {
        flex: 0 0 auto;
        width: 20%;
    }

    .col-xl-3pt6 {
        flex: 0 0 auto;
        width: 30%;
    }
}